



.container{
   
    margin-top: 200px;
    display: flex;
    justify-content: center;

    
}


.boarder{
    display: grid;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 1px;
   
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 2px solid black;
}


.boarder > div {
    height: 70px; 
    width: 70px;
   border: 2px solid rgb(7, 7, 7);
}

/* .red-piece{
    border: blue;
} */

.button{
    height: 50px;
    display: flex;
    justify-content: center;
}