#circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


.container{
    height:100%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}


.boarder{
    display: grid;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 500px;
    height: 500px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 4px solid black;
}


div > div > div {
    height: 70px; 
   background-color: aqua;
   border: 2px solid rgb(7, 7, 7);
}